{% load static %}
<!DOCTYPE html>
<html lang="es" class="scroll-smooth" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Jfpenate{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/libs/atom-one-dark.min.css' %}">
    {% block head %}{% endblock %}
  </head>

  <body class="bg-light-background text-light-primary dark:bg-dark-background dark:text-dark-primary font-sans antialiased transition-colors duration-300">

    <!-- Navbar -->
    {% include "common/_navbar.html" %}

    <!-- Main content -->
{#    <main class="min-h-screen pt-24 dark:bg-[url('/static/icons/texture.svg')] dark:bg-repeat dark:bg-[length:10px]">#}
    <main class="min-h-screen pt-24
                 bg-[url('/static/icons/texture-2.svg')] bg-repeat bg-[length:10px]
                 dark:bg-[url('/static/icons/texture.svg')] dark:bg-repeat dark:bg-[length:10px]">

      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "common/_footer.html" %}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
      AOS.init({
        once: true,
        duration: 600,
        easing: 'ease-out',
      });
    </script>
    <!-- highlight js -->
    <script src="{% static 'js/libs/highlight.min.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightElement(block);
        });
      });
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
